<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Emotion Start</title>
  </head>
  <body>
    <h1 style="font-size:5.9em">What would you like to do?</h1>
<br>
<br>
    <h2 style="font-size:3.2em"><a href="/emotions/new">I have something to share</a></h2>
    <h2 style="font-size:3em"><a href="/<%= current_user.slug %>">Let me take a walk down memory lane...</a></h2>
    <br>
    <br>
  <p></p>
  <p></p>
    <h3 style="font-size:1.8em"><a href="/logout">Log Out</a></h3>
    <br>
    <footer style="font-size:1.7em;">CONFIDANT: Built with <strong>LOVE</strong></footer>
    <p></p>
    <br>
  </body>
</html>
