<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Invalid search</title>
  </head>
  <body>
<h1 style="font-size:12em;">Oopsy Daisy</h1>
<h2>I guess you never felt this emotion!</h2>
<br>

<h2><a href="/emotions/new">Tell me something <em>NEW</em></a>
</h2>
<br>
<br>
<br>
<br>
<br>
<h2 style="font-size:2em;">Search Emotions</h2>
<!-- search query by emotion??  -->
<form class="search_by_emotion" action="/emotion/search" method="post">
<input type="text" name="slug" value="">
  <br>
  <br>
<input type="submit" value="Search Emotion">
<br>
<br>
</form>
  <a href="/emotions/new">Create New</a>
  &nbsp; | &nbsp;
  <a href="/emotions">Home</a>

  <br>
  <br>
  <footer style="font-size:1.7em;">CONFIDANT: Built with <strong>LOVE</strong></footer>
  <br>
  <p></p>
    </body>
</html>
