<h1>Welcome <%= current_user.username %></h1>



<h3>Search according to Previous Emotions</h3>
<!-- search query by emotion??  -->
<form class="search_by_emotion" action="/emotion/search" method="post">

<input type="text" name="slug" value="">
  <br>
<input type="submit" value="Search Emotion">
<br>
</form>
