<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Confidant</title>
  </head>
  <body>
    <h1>Welcome to Confidant</h1>
    <h2>Let me hear you out</h2>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </body>
</html>
