<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Confidant</title>
  </head>
  <body>
<p></p>
<p></p>
<br>
<p></p>
<p></p>
<p></p>
<br>
<p></p>
<p></p>
<p></p>
<br>
<p></p>
<p></p>
<p></p>
<br>
<p></p>
  <h1 style= "font-size:10em; text-shadow: 5px 7.3px #E9E8E9;">CONFIDANT</h1>
      <h2 style ="font-size:3.8em; color:white; text-shadow: 3px 4.3px LightGray;">Fill your paper with the breathings of your heart <br> – William Wordsworth </h2>
      <div id ="background">
        <div id ="text-overlay">
          <div style="text-align: center;">
          <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
          <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
        </div>
    </div>
  </div>

  </body>
</html>
