<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Confidant</title>
  </head>
  <body>

  <h1 style="font-family:'Bebas Neue';font-weight:normal;font-size:5em">Welcome to Confidant</h1>
      <h2>Let me hear you out</h2>
      <div id ="background">
        <div id ="text-overlay">
          <div style="text-align: center;">
          <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
          <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
        </div>
    </div>
  </div>

  </body>
</html>
